body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    background-image: radial-gradient(circle at 50% 50%, #c3c4aa 0, #bcc0a6 12.5%, #afb99c 25%, #9cad8e 37.5%, #839d7b 50%, #698d6a 62.5%, #538260 75%, #417b5c 87.5%, #33785d 100%);
}
.contenedor {
    width: 80%;
    height: 100%;
    margin: 20px auto;
    background-color: rgb(223, 245, 220);
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor h6 {
    margin: -10px;
}
.puntos{
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.puntos h1 {
    margin: 5px auto;
}
#maximos {
    margin-left: 10px;
    margin-top: 10px;
}
.fa-star {
    color: yellowgreen;
    margin-left: 10px;
    font-size: 40px;
}
#puntuacion {
    margin-left: 10px;
    margin-top: 10px;
}
.niveles {
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: grey;
}
.niveles h2 {
    margin: 5px auto;
}
#nivel {
    margin-left: 10px;
}
#pregunta {
    width: 90%;
    padding: 10px;
    border: 1px solid black ;
    margin: 10px auto;
    border: 1px solid grey;
}
#opciones {
    width: 80%;
}
.btn {
    width: 100%;
    margin: 5px auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    transition: 300ms all;
}
.btn:hover {
    transform: scale(1.2);
}
#btn_salir {
    border: 1px solid black;
    display: block;
    background-color: brown;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    transition: 300ms all;
}
#btn_salir:hover {
    transform: scale(1.5);
}